<ion-header>
   <ion-toolbar>
      <ion-title>{{ title }}</ion-title>
      <ion-buttons start>
         <button ion-button
                 (click)="closeModal()">
           <span ion-text color="primary"
                 showWhen="ios">Cancel</span>
           <ion-icon name="md-close"
                 showWhen="android,windows"></ion-icon>
         </button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content>
   <form [formGroup]="form" (ngSubmit)="save(form.value)">

   	  <ion-item-divider color="light">
         <div *ngIf="!isEditable">Adicionar</div>
         <div *ngIf="isEditable">Alterar</div>
   	  </ion-item-divider>
      
      <ion-item>
        <ion-label stacked>Familia</ion-label>
        <ion-select class="select"
            formControlName="familiaId" 
            [(ngModel)]="itemFamiliaId">
            <ion-option *ngFor="let familia of familias" value="{{familia._id}}">{{familia.nome}}</ion-option>
        </ion-select>
      </ion-item>

	<ion-item>
         <ion-label floating>Fabricante:</ion-label>
         <ion-input type="text"
            formControlName="fabricante"
            [(ngModel)]="itemFabricante"></ion-input>
   	</ion-item>

   	<ion-item>
         <ion-label floating>Modelo:</ion-label>
         <ion-input type="text"
            formControlName="modelo"
            [(ngModel)]="itemModelo"></ion-input>
   	</ion-item>

   	<ion-item>
         <ion-label floating>Capacidade:</ion-label>
         <ion-input type="text"
            formControlName="capacidade"
            [(ngModel)]="itemCapacidade"></ion-input>
   	</ion-item>

      <ion-item>
         <ion-label floating>Número Serie:</ion-label>
         <ion-input type="text"
            formControlName="nSerie"
            [(ngModel)]="itemNSerie"></ion-input>
   	</ion-item>

      <ion-item>
         <ion-label floating>Data Fabricação:</ion-label>
         <ion-input type="date"
            formControlName="dtFabric"
            [(ngModel)]="itemDtFabric"></ion-input>
   	  </ion-item>
      
      <ion-item>
            <ion-label>Ativo</ion-label>
            <ion-toggle [(ngModel)]="itemAtivo" formControlName="ativo" checked="false"></ion-toggle>
      </ion-item>

   	  <ion-item>
   	     <input type="hidden" name="itemId">
         <button ion-button block color="primary" text-center padding-top padding-bottom
           [disabled]="!form.valid">
            <div *ngIf="!isEditable">Adcionar item</div>
            <div *ngIf="isEditable">Alterar item</div>
            </button>
   	  </ion-item>

   </form>
</ion-content>
